body {
    background: linear-gradient(rgb(55, 205, 255),rgb(7, 135, 246),rgb(0, 0, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
input {
    padding: 30px;
    height: 5px;
    width: 600px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    background: rgba(0, 0, 0, 0.08);
}
button[type="submit"] {
    position: absolute;
    top: 35px;
    right: 500px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.15);
}
button[type="submit"]:hover {
    color: rgba(0, 0, 0, 0.25);
}
.Card {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h1 {
    color: rgba(255, 255, 255, 0.80);
    font-family: "Varela Round", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  p {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Varela Round", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  img {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    height: auto;
  }


